# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Sets user-defined palette
palette = "tokyonight-storm"

format = """
[   $username ](fg:bold magenta bg:bg1)[$directory](bold cyan)$git_branch$git_status$git_metrics$python$nodejs$rust$julia$lua[](fg:bg1)
"""

right_format = """
[](fg:bg1)$status[$cmd_duration](bold cyan)$time
"""

[username]
show_always = true
format = '$user'
disabled = false

[cmd_duration]
format = "[](fg:fg2 bg:bg1)[ $duration ]($style)"
style = "fg:fg2 bg:bg1"

[directory]
format = "[ $path ]($style)"
style = "fg:cyan bg:bg1"
truncate_to_repo = false

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "
"Public" = " "
"Templates" = " "
"Videos" = " "
"Desktop" = " "
"Home" = " "

[python]
style = "fg:cyan bg:bg1"
python_binary = ["python3", "python"]
format = '[$symbol (${virtualenv}) ($version) ]($style)'

[c]
symbol = " "
style = "bg:bg1 fg:blue"

[lua]
symbol = " "
style = "bg:bg1 fg:blue"
format = '[ $symbol ($version) ]($style)'

[julia]
symbol = " "
style = "bg:bg1 fg:blue"
format = '[ $symbol ($version) ]($style)'

[nodejs]
symbol = ""
style = "bg:bg1 fg:blue"
format = '[ $symbol ($version) ]($style)'

[rust]
symbol = ""
style = "bg:bg1 fg:blue"
format = '[ $symbol ($version) ]($style)'

[git_branch]
symbol = ""
style = "fg:bold green bg:bg1"
format = "[ ](bg:bg1)[$symbol $branch ]($style)"

[git_status]
format = "[$all_status$ahead_behind ]($style)"
style = "fg:yellow bg:bg1"
disabled = false

[git_metrics]
added_style = "fg:yellow bg:bg1"
deleted_style = "fg:red bg:bg1"
disabled = false
format = "([+$added]($added_style))[]($added_style)"

[status]
disabled = false
format = "[$signal_name $symbol ]($style)"
map_symbol = true
sigint_symbol = "[✘](fg:red bg:bg1)"
style = "bg:bg1"
success_symbol = "[✔](fg:green bg:bg1)"
symbol = "[✘](fg:red bg:bg1)"

[time]
disabled = false
time_format = "%R"
style = "fg:cyan bg:bg1"
format = "[  $time ]($style)"

[palettes."tokyonight-storm"]
# Tokyo Night Storm color palette
red = "#f7768e"
green = "#9ece6a"
yellow = "#e0af68"
blue = "#7aa2f7"
magenta = "#bb9af7"
cyan = "#7dcfff"
orange = "#ff9e64"
# Foreground colors
fg = "#c0caf5"
fg1 = "#c0caf5"
fg2 = "#a9b1d6"
fg3 = "#565f89"
# Background colors
bg = "#1f2335"
bg0 = "#16161e"
bg1 = "#24283b"
bg2 = "#2f3549"
bg3 = "#3b4261"
